<header>
  <img src="../assets/logo_small.png" alt="logo" />
</header>

<main>
  <h2>Website launching soon......</h2>

  <div class="container">
    <div class="card">
      <h3>Our Services</h3>
      <ul>
        <li>Ring Resizing</li>
        <li>Stone Replacement</li>
        <li>Re-tipping & Re-clawing</li>
        <li>Chain & Bracelet Repairs</li>
        <li>Jewellery Cleaning & Polishing</li>
        <li>Custom Modifications</li>
      </ul>
    </div>

    <div class="card">
      <h3>Why choose us?</h3>
      <ul>
        <li>Door to Door Service</li>
        <li>Free Quotes</li>
        <li>Quick Turnaround</li>
        <li>Cost Effective</li>
        <li>Expert Craftmanship & Guarantee</li>
        <li>Trade Repairs</li>
        <li>Comprehensive Services</li>
      </ul>
    </div>
  </div>
</main>

<footer>
  <img
    class="contact-us-image"
    src="../assets/contact_us.png"
    alt="contact us"
  />
  <div class="footer-column">
    <h4>info@jewelleryrepairsuk.com</h4>
    <div class="social-media-links">
      <a href="https://www.instagram.com/jewelleryrepairsuk/ " target="_blank">
        <img
          class="instagram-image"
          src="../assets/instagram-48.png"
          alt="instagram"
        />
      </a>
      <a href="https://www.facebook.com/ukjewelleryrepairs/" target="_blank">
        <img
          class="facebook-image"
          src="../assets/facebook-black-icon.png"
          alt="facebook"
        />
      </a>
    </div>
  </div>
</footer>
